[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
flask-session = "==0.5.0"
graphviz = "*"
pandas = "*"
sqlalchemy = "*"
spotipy = "*"
pyarrow = "*"
pymysql = "*"
pyscopg2 = "*"
psycopg2 = "*"
sshtunnel = "*"
apache-airflow = {extras = ["postgres"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
